// Import Variables
@import "../../../assets/sass/variables";
#horizontal-nav-container {
    background-color: $blue;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0px;
    .nav-logo {
        height: 35px;
        position: absolute;
        top: 5px;
        left: 40px;
        cursor: pointer;
    }
}