<div id="vertical-nav-container">
    <ul>
        <li>Shop</li>
        <li (click)="toggleDesigners()">Designers <i class="material-icons expand-collapse-chevron" [ngClass]="{ 'expand-arrow': !designerCollapsed }">expand_more</i></li>
        <li class="menu-option" [ngClass]="{ 'collapsed': designerCollapsed }">M. Derwich</li>
        <li>Blog</li>
        <li (click)="toggleIndustries()">Industries <i class="material-icons expand-collapse-chevron" [ngClass]="{ 'expand-arrow': !industriesCollapsed }">expand_more</i></li>
        <li class="menu-option" [ngClass]="{ 'collapsed': industriesCollapsed }">services</li>
        <li class="menu-option" [ngClass]="{ 'collapsed': industriesCollapsed }">consumables</li>
        <li class="menu-option" [ngClass]="{ 'collapsed': industriesCollapsed }">tooling</li>
        <li class="menu-option" [ngClass]="{ 'collapsed': industriesCollapsed }">consulting</li>
    </ul>
</div>